* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.calendar-container {
	width: 500px;
	margin: 0 auto;
	background-color: black;
	border: 1px solid green;
	color: white;
}

.calendar-header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 20px;
}

.calendar-previous-month {
	float: left;
}

.calendar-next-month {
	float: right;
}

.calendar-days thead{
	background-color: black;
}

.calendar-days table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

.calendar-days td {
	border: 1px solid green;
	background-color: orange;
}

.calendar-days tr {
	width: 100%;
	height: 50px;
	line-height: 50px;
}





















